{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Вход</h1>
    <form method="post" action="{{ url_for('login') }}" class="mx-auto" style="max-width: 400px;">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            <label for="{{ form.username.id }}" class="form-label">{{ form.username.label }}</label>
            {{ form.username(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="{{ form.password.id }}" class="form-label">{{ form.password.label }}</label>
            {{ form.password(class="form-control") }}
        </div>

        <div class="mb-3 text-center">
            {{ form.submit(class="btn btn-primary w-100") }}
        </div>
    </form>
</div>
{% endblock %}

